:root {

    --title-color: #FFFFFF;
    --subtitle-color: #C0C0C0;
    --background-color: #00030C;
    --button-color: #167BF7;
    --main-font: "Inter";
    --hover-botao-cor: #60e7ff;
    --active-ancora-cor: #ffee00;
    --botao-azul-efeito: #001aff;
}

* {

    margin: 0;
    padding: 0;
}

body {

    background-color: var(--background-color);
    color: var(--title-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.principal {

    background-image: url(./Imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container-padrao {

    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-principal__divisao {

    margin: 0 7em;
}

.container-padrao__titulo {

    font-size: 28px;
    font-weight: 700;
}

.container-padrao__imagem {

    margin: 1em 0 2em 0;
}

.container-padrao__botao {

    background-color: var(--button-color);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 7px;
    color: var(--title-color);
    display: block;
    text-align: center;
    text-decoration: none;
}

.container-padrao__botao:hover {

    background-color: var(--botao-azul-efeito);
}

.botao-secundario {

    background-color: transparent;
    border: 2px solid var(--title-color);
}

.botao-secundario:hover {

    background-color: var(--botao-azul-efeito);
}

.container-padrao__aviso {

    color: var(--subtitle-color);
    font-size: 12px;
}

.container-secundario {

    align-items: center;
    margin: 0 15em;
}

.container-secundario__imagem {

    width: 80%;
    margin-left: 4em;
}

.divisao__titulo {

    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

.divisao__paragrafo {

    color: var(--subtitle-color);
    font-size: 16px;
}

.container-secundario-botao {

    display: inline-block;
    margin-top: 1em;
}

.dispositivos {

    text-align: center;
}

.dispositivos__titulo {

    font-weight: 700;
    font-size: 48px;
}

.dispositivos__lista {

    margin: 5em;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.item__titulo {

    font-weight: 700;
    font-size: 32px;
}

.rodape {

    text-align: center;
    margin: 7em 0;
}

.rodape__logo {

    margin: 1.5em;
}

.rodape__lista {

    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
}

.link-rodape {

    margin: 1em;
    font-size: 16px;
    color: var(--title-color);
    text-decoration: none;
}

.link-rodape:hover {

    color: var(--hover-botao-cor);
}

.link-rodape:active {

    color: var(--active-ancora-cor);
}

.rodape__texto {

    margin-bottom: 2em;
    font-size: 14px;
    color: var(--subtitle-color);
}