:root {

    --title-color: #FFFFFF;
    --subtitle-color: #C0C0C0;
    --background-color: #00030C;
    --button-color: #167BF7;
    --main-font: "Inter";
}

* {

    margin: 0;
    padding: 0;
}

body {

    background-color: var(--background-color);
    color: var(--title-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.principal {

    background-image: url(/Imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.container-padrao {

    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-principal__divisao {

    margin: 0 7em;
}

.container-padrao__titulo {

    font-size: 28px;
    font-weight: 700;
}

.container-padrao__imagem {

    margin: 1em 0 2em 0;
}

.container-padrao__botao {

    background-color: var(--button-color);
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 7px;
    color: var(--title-color);
    display: block;
    text-align: center;
    text-decoration: none;
}

.botao-secundario {

    background-color: transparent;
    border: 2px solid var(--title-color);
}

.container-padrao__aviso {

    color: var(--subtitle-color);
    font-size: 12px;
}

.container-secundario {

    align-items: center;
    margin: 0 15em;
}

.container-secundario__imagem {

    width: 80%;
    margin-left: 4em;
}

.divisao__titulo {

    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

.divisao__paragrafo {

    color: var(--subtitle-color);
    font-size: 16px;
}

.container-secundario-botao {

    display: inline-block;
    margin-top: 1em;
}